<!DOCTYPE html>
<html ng-app="">
	<head>
		<title>css-sets</title>
		<link href='../dist/sets.min.css' rel='stylesheet' type='text/css'>
		<link href='semantic.css' rel='stylesheet' type='text/css'>
		
		<!-- AngularJS -->
		<script src="angular.js"></script>
		
		<style>
			body{
				font-family:'Roboto', sans-serif !important;
				width:100%;
				background-color:#fff;
				padding:50px 150px;
				margin:0;
				font-family:sans-serif;
			}
		</style>
	</head>
	<body>
		<h1 class="_txta_c _mt_20 _mb_20">
			<a class="_color_000 _txtd_n" href="https://github.com/thatisuday/css-sets">
				<svg class="_va_m" aria-hidden="true" class="octicon octicon-mark-github" height="28" version="1.1" viewBox="0 0 16 16" width="28"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg> css-sets
			</a>
		</h1>
		
		
		<!-- S:Color -->
		<h2>Color</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_color_fff','_color_f5f5f5','_color_eee','_color_ddd','_color_ccc','_color_bbb','_color_aaa','_color_999','_color_888','_color_777','_color_666','_color_555','_color_444','_color_333','_color_222','_color_111','_color_000']" ng-class="{active:(class == '_color_fff')}">
					<td>{{class}}</td>
					<td><span class="{{class}}">Hello World!</span></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Color -->
		
		
		<!-- S:Color on hover -->
		<h2>Color on hover</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_color_fff_hover','_color_f5f5f5_hover','_color_eee_hover','_color_ddd_hover','_color_ccc_hover','_color_bbb_hover','_color_aaa_hover','_color_999_hover','_color_888_hover','_color_777_hover','_color_666_hover','_color_555_hover','_color_444_hover','_color_333_hover','_color_222_hover','_color_111_hover','_color_000_hover']" ng-class="{active:(class == '_color_fff_hover')}">
					<td>{{class}}</td>
					<td><span style="color:red;" class="{{class}}">Hello World! Hover over me.</span></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Color on hover -->
		
		
		<!-- S:Background color -->
		<h2>Background color</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_bg_color_tr','_bg_color_fff','_bg_color_f2f2f2','_bg_color_fafafa','_bg_color_f5f5f5','_bg_color_eee','_bg_color_ddd','_bg_color_ccc','_bg_color_bbb','_bg_color_aaa','_bg_color_999','_bg_color_888','_bg_color_777','_bg_color_666','_bg_color_555','_bg_color_444','_bg_color_333','_bg_color_222','_bg_color_111','_bg_color_000']">
					<td>{{class}}</td>
					<td class="{{class}}">...</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Background color -->
		
		
		<!-- S:Font size -->
		<h2>Font size</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_fs_0','_fs_8','_fs_9','_fs_10','_fs_11','_fs_12','_fs_13','_fs_14','_fs_15','_fs_16','_fs_18','_fs_20','_fs_22','_fs_24','_fs_26','_fs_28','_fs_30','_fs_32','_fs_34','_fs_36','_fs_38','_fs_40','_fs_46','_fs_50','_fs_56','_fs_60','_fs_66','_fs_80','_fs_100','_fs_120']">
					<td>{{class}}</td>
					<td class="{{class}}">Hello World!</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Font size -->
		
		
		<!-- S:Font weight -->
		<h2>Font weight</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_fw_100','_fw_200','_fw_300','_fw_400','_fw_500','_fw_600','_fw_700','_fw_800','_fw_900']">
					<td>{{class}}</td>
					<td class="{{class}}">Hello World!</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Font weight -->
		
		
		<!-- S:Letter spacing -->
		<h2>Letter spacing</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_ls_norm','_ls_1','_ls_2','_ls_3']">
					<td>{{class}}</td>
					<td class="{{class}}">Hello World!</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Letter spacing -->
		
		
		<!-- S:Text Transform -->
		<h2>Text Transform</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_txt_ucs','_txt_lcs','_txt_cpt']">
					<td>{{class}}</td>
					<td class="{{class}}">Hello World!</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Text Transform -->
		
		
		<!-- S:Line height -->
		<h2>Line height</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_lh_norm','_lh_0','_lh_10','_lh_11','_lh_12','_lh_13','_lh_14','_lh_15','_lh_16','_lh_18','_lh_20','_lh_22','_lh_24','_lh_26','_lh_28','_lh_30','_lh_32','_lh_34','_lh_36','_lh_38','_lh_40','_lh_46','_lh_50','_lh_56','_lh_60','_lh_66','_lh_80','_lh_100','_lh_120']">
					<td>{{class}}</td>
					<td><p class="{{class}}">Hello World!</p></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Line height -->
		
		
		<!-- S:Padding -->
		<h2>Padding</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_pa_0','_pt_0','_pt_1','_pt_2','_pt_3','_pt_4','_pt_5','_pt_6','_pt_7','_pt_8','_pt_9','_pt_10','_pt_15','_pt_20','_pt_25','_pt_30','_pt_35','_pt_40','_pt_50','_pb_0','_pb_1','_pb_2','_pb_3','_pb_4','_pb_5','_pb_6','_pb_7','_pb_8','_pb_9','_pb_10','_pb_15','_pb_20','_pb_25','_pb_30','_pb_35','_pb_40','_pb_50','_pl_0','_pl_1','_pl_2','_pl_3','_pl_4','_pl_5','_pl_10','_pl_15','_pl_20','_pl_25','_pl_30','_pl_35','_pl_40','_pl_50','_pr_0','_pr_1','_pr_2','_pr_3','_pr_4','_pr_5','_pr_10','_pr_15','_pr_20','_pr_25','_pr_30','_pr_35','_pr_40','_pr_50']">
					<td>{{class}}</td>
					<td><div class="_disp_ib {{class}} _bg_color_eee">Hello World!</div></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Padding -->
		
		
		<!-- S:Margin -->
		<h2>Margin</h2>
		<table class="ui fixed celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_m_0_a','_ma_0','_mt_0','_mt_5','_mt_10','_mt_15','_mt_20','_mt_25','_mt_30','_mt_35','_mt_40','_mt_50','_mb_0','_mb_5','_mb_10','_mb_15','_mb_20','_mb_25','_mb_30','_mb_35','_mb_40','_mb_50','_ml_a','_ml_0','_ml_5','_ml_10','_ml_15','_ml_20','_ml_25','_ml_30','_ml_35','_ml_40','_ml_50','_mr_a','_mr_0','_mr_5','_mr_10','_mr_15','_mr_20','_mr_25','_mr_30','_mr_35','_mr_40','_mr_50']">
					<td>{{class}}</td>
					<td ng-if="class == '_m_0_a'"><div style="width:100px;" class="{{class}} _txta_c _bg_color_eee">Hello World!</div></td>
					<td ng-if="class != '_m_0_a'"><div class="_disp_ib {{class}} _bg_color_eee" ng-class="{_fl_r : ($index >= 33)}">Hello World!</div></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Margin -->
		
		
		<!-- S:Display -->
		<h2>Display</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_disp_i','_disp_ib','_disp_b','_disp_n']">
					<td>{{class}}</td>
					<td><div class="{{class}} _bg_color_eee _mt_10">Hello World!</div></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Display -->
		
		
		<!-- S:Float -->
		<h2>Float</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_fl_l','_fl_r','_fl_n']">
					<td>{{class}}</td>
					<td><div class="_disp_ib {{class}} _bg_color_eee">Hello World!</div></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Float -->
		
		
		<!-- S:Text align -->
		<h2>Text align</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_txta_c','_txta_l','_txta_r']">
					<td>{{class}}</td>
					<td class="{{class}}">Hello World!</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Text align -->
		
		
		<!-- S:Vertical align -->
		<h2>Vertical align</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_va_m','_va_t','_va_b']">
					<td>{{class}}</td>
					<td><span class="_fs_30">Hello World! </span><img class="{{class}}" src="google.png"/></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Vertical align -->
		
		
		<!-- S:Outline -->
		<h2>Outline</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_outl_n']">
					<td>{{class}}</td>
					<td class="{{class}}">Hello World!</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Outline -->
		
		
		<!-- S:Border -->
		<h2>Border</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_ba_1_eee','_bt_1_eee','_bb_1_eee','_bl_1_eee','_br_1_eee','_ba_1_ddd','_bt_1_ddd','_bb_1_ddd','_bl_1_ddd','_br_1_ddd','_ba_n','_ba_n_lc','_bl_n','_bl_n_lc','_br_n','_br_n_lc','_bt_n','_bt_n_lc','_bb_n','_bb_n_lc']">
					<td>{{class}}</td>
					<td><div class="{{class}} _disp_ib">Hello World!</div></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Border -->
		
		
		<!-- S:Border radius -->
		<h2>Border radius</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_br_0','_br_1','_br_2','_br_3','_br_4','_br_5','_br_100']">
					<td>{{class}}</td>
					<td><div class="{{class}} _disp_ib _thmb_box_30 _bg_color_ccc"></div></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Border radius -->
		
		
		<!-- S:Overflow -->
		<h2>Overflow</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_ovrf_h','_ovrf_a','_ovrf_s','_ovrf_y_h','_ovrf_x_h','_ovrf_y_a','_ovrf_x_a']">
					<td>{{class}}</td>
					<td><div class="{{class}} _disp_ib _bg_color_ccc" style="width:120px; height:120px;"><div style="width:200px; height:200px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div></div></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Overflow -->
		
		
		<!-- S:Position -->
		<h2>Position</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_pos_r','_pos_a','_pos_f']">
					<td>{{class}}</td>
					<td ng-if="class == '_pos_r'">Relative position. position=relative;</td>
					<td ng-if="class == '_pos_a'">Absolute position. position=absolute;</td>
					<td ng-if="class == '_pos_f'">Fixed position. position=fixed;</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Position -->
		
		
		<!-- S:Location -->
		<h2>Location</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_loc_lt','_loc_rt','_loc_lb','_loc_rb','_loc_ct','_loc_cc','_loc_cb','_loc_lc','_loc_rc','_loc_ct_nt','_loc_cc_nt','_loc_cb_nt','_loc_lc_nt','_loc_rc_nt']">
					<td>{{class}}</td>
					<td><div class="_pos_r" style="height:60px;"><div class="_disp_ib _bg_color_ccc _pos_a {{class}}">Hello World!</div></div></td>
				</tr>
			</tbody>
		</table>
		<!-- E:Location -->
		
		
		<!-- S:Background size -->
		<h2>Background size</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_bsc_lt','_bsc_ltc','_bsc_lc','_bsc_lbc','_bsc_lb','_bsc_ct','_bsc_ctc','_bsc_cc','_bsc_cbc','_bsc_cb','_bsc_rt','_bsc_rtc','_bsc_rc','_bsc_rbc','_bsc_rb']">
					<td>{{class}}</td>
					<td class="_clearfix">
						<div class="{{class}} _fl_l" style="background-image:url(./bsc.jpeg); width:200px; height:200px;"></div>
						<div class="{{class}} _fl_l _ml_10" style="background-image:url(./bsc_2.jpg); width:200px; height:200px;"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Background size -->
		
		
		<!-- S:White space -->
		<h2>White space</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_ws_nw', '_ws_nw_elp']">
					<td>{{class}}</td>
					<td>
						<div class="{{class}}" style="width:200px;">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:White space -->
		
		
		<!-- S:Cursor -->
		<h2>Cursor</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_cur_p','_cur_d','_cur_zi','_cur_zo','_cur_gb','_cur_gbn']">
					<td>{{class}}</td>
					<td class="{{class}}">
						Hover over me.
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Cursor -->
		
		
		<!-- S:Text decoration -->
		<h2>Text decoration</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_txtd_n','_txtd_ul','_txtd_lt']">
					<td>{{class}}</td>
					<td class="{{class}}">
						Hello World!
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Text decoration -->
		
		
		<!-- S:Animate anchor links -->
		<h2>Animate anchor links</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_a_hover_ul', '_a_hover_b']">
					<td>{{class}}</td>
					<td>
						<a href="#" class="{{class}}">Hover over me.</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Animate anchor links -->
		
		
		<!-- S:Resize -->
		<h2>Resize</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_resize_n','_resize_b','_resize_v','_resize_h']">
					<td>{{class}}</td>
					<td>
						<textarea class="{{class}}" rows="2"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Resize -->
		
		
		<!-- S:List style type -->
		<h2>List style type</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_lst_n']">
					<td>{{class}}</td>
					<td>
						This is &lt;ul&gt;
						<ul class="{{class}}"><li>Hello 1 World!</li><li>Hello 2 World!</li><li>Hello 3 World!</li></ul>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:List style type -->
		
		
		<!-- S:Width -->
		<h2>Width</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_width_100','_width_95','_width_90','_width_85','_width_80','_width_75','_width_70','_width_65','_width_60','_width_55','_width_50','_width_45','_width_40','_width_35','_width_30','_width_25','_width_20','_width_15','_width_10','_width_5','_width_33','_width_66']">
					<td>{{class}}</td>
					<td>
						<div class="{{class}} _pt_20 _pb_20 _bg_color_000"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Width -->
		
		
		<!-- S:Height -->
		<h2>Height</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_height_100','_height_95','_height_90','_height_85','_height_80','_height_75','_height_70','_height_65','_height_60','_height_55','_height_50','_height_45','_height_40','_height_35','_height_30','_height_25','_height_20','_height_15','_height_10','_height_5','_height_33','_height_66']">
					<td>{{class}}</td>
					<td>
						<div class="_pos_r _thmb_box_150 _ba_1_ddd">
							<div class="{{class}} _pos_a _loc_lt _width_100 _bg_color_eee"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Height -->
		
		
		<!-- S:Clearfix -->
		<h2>Clearfix</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_clearfix']">
					<td>{{class}}</td>
					<td>
						no-brainer
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Clearfix -->
		
		
		<!-- S:Overlay -->
		<h2>Overlay</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_ovrlay']">
					<td>{{class}}</td>
					<td class="_clearfix">
						<div class="_bsc_cc _fl_l _pos_r" style="background-image:url(./bsc_3.jpeg); width:300px; height:300px;">
							<div class="_pos_a _loc_cc _txt_ucs _fw_700 _fs_20">Original</div>
						</div>
						<div class="{{class}} _bsc_cc _fl_l _ml_15" style="background-image:url(./bsc_3.jpeg); width:300px; height:300px;"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Overlay -->
		
		
		<!-- S:Overlay gradient -->
		<h2>Overlay gradient</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_ovrlay_grad_tb','_ovrlay_grad_bt']">
					<td>{{class}}</td>
					<td class="_clearfix">
						<div class="_bsc_cc _fl_l _pos_r" style="background-image:url(./bsc_3.jpeg); width:300px; height:300px;">
							<div class="{{class}} _height_50" ng-class="{'_pos_a _loc_lb _width_100':(class == '_ovrlay_grad_bt')}"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Overlay gradient -->
		
		
		<!-- S:Safe layer -->
		<h2>Safe layer</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_safe_layer']">
					<td>{{class}}</td>
					<td class="_pos_r {{class}}">
						<img src="google.png"> Try to save image by right click or select this text.
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Safe layer -->
		
		
		<!-- S:Rectangle boxes -->
		<h2>Rectangle boxes</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_sqr_box','_por_box','_land_box']">
					<td>{{class}} > _box</td>
					<td>
						<div class="_width_50">
							<div class="{{class}}">
								<div class="_box _bg_color_eee">
									And I am responsive :)
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Rectangle boxes -->
		
		
		<!-- S:Thumb boxes -->
		<h2>Thumbnail boxes</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_thmb_box_30','_thmb_box_35','_thmb_box_40','_thmb_box_45','_thmb_box_50','_thmb_box_55','_thmb_box_60','_thmb_box_65','_thmb_box_70','_thmb_box_90','_thmb_box_120','_thmb_box_150']">
					<td>{{class}}</td>
					<td>
						<div class="{{class}} _bg_color_000"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Thumb boxes -->
		
		
		<!-- S:Hover show -->
		<h2>Hover show</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_hov_show']">
					<td>{{class}} > _elem</td>
					<td class="{{class}}">
						Hover over me.
						<div class="_elem _bg_color_000">Hello World!</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Hover show -->
		
		
		<!-- S:Elements Gutter -->
		<h2>Elements Gutter</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_gutter_10','_gutter_v_10','_gutter_15','_gutter_v_15','_gutter_20','_gutter_v_20','_gutter_25','_gutter_v_25','_gutter_30','_gutter_v_30','_gutter_35','_gutter_v_35','_gutter_40','_gutter_v_40']">
					<td>{{class}}</td>
					<td>
						<div ng-repeat="x in [1,2,3,4]" class="_bg_color_eee {{class}}" ng-class="{_disp_ib:$parent.$even}">Hello World!</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Elements Gutter -->
		
		
		<!-- S:Vertically align middle box -->
		<h2>Vertically align middle box</h2>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Class</th>
					<th>Preview</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in ['_va_m_box']">
					<td>{{class}}</td>
					<td>
						<div class="_bg_color_999 {{class}}" style="width:300px; height:300px;">
							<img src="google.png" class="_va_m _txta_c"/>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- E:Vertically align middle box -->
		
		
		
		<br/>
		<br/>
		<br/>
	</body>
</html>
