._bg_color_tr {
  background-color: transparent!important;
}

._bg_color_fff {
  background-color: #fff!important;
}

._bg_color_f2f2f2 {
  background-color: #f2f2f2!important;
}

._bg_color_fafafa {
  background-color: #fafafa!important;
}

._bg_color_f5f5f5 {
  background-color: #f5f5f5!important;
}

._bg_color_eee {
  background-color: #eee!important;
}

._bg_color_ddd {
  background-color: #ddd!important;
}

._bg_color_ccc {
  background-color: #ccc!important;
}

._bg_color_bbb {
  background-color: #bbb!important;
}

._bg_color_aaa {
  background-color: #aaa!important;
}

._bg_color_999 {
  background-color: #999!important;
}

._bg_color_888 {
  background-color: #888!important;
}

._bg_color_777 {
  background-color: #777!important;
}

._bg_color_666 {
  background-color: #666!important;
}

._bg_color_555 {
  background-color: #555!important;
}

._bg_color_444 {
  background-color: #444!important;
}

._bg_color_333 {
  background-color: #333!important;
}

._bg_color_222 {
  background-color: #222!important;
}

._bg_color_111 {
  background-color: #111!important;
}

._bg_color_000 {
  background-color: #000!important;
}