._br_0 {
  border-radius: 0px!important;
}

._br_1 {
  border-radius: 1px!important;
}

._br_2 {
  border-radius: 2px!important;
}

._br_3 {
  border-radius: 3px!important;
}

._br_4 {
  border-radius: 4px!important;
}

._br_5 {
  border-radius: 5px!important;
}

._br_100 {
  border-radius: 100%!important;
}