._color_fff {
  color: #fff!important;
}

._color_f5f5f5 {
  color: #f5f5f5!important;
}

._color_eee {
  color: #eee!important;
}

._color_ddd {
  color: #ddd!important;
}

._color_ccc {
  color: #ccc!important;
}

._color_bbb {
  color: #bbb!important;
}

._color_aaa {
  color: #aaa!important;
}

._color_999 {
  color: #999!important;
}

._color_888 {
  color: #888!important;
}

._color_777 {
  color: #777!important;
}

._color_666 {
  color: #666!important;
}

._color_555 {
  color: #555!important;
}

._color_444 {
  color: #444!important;
}

._color_333 {
  color: #333!important;
}

._color_222 {
  color: #222!important;
}

._color_111 {
  color: #111!important;
}

._color_000 {
  color: #000!important;
}