._fs_0 {
  font-size: 0px!important;
}

._fs_8 {
  font-size: 8px!important;
}

._fs_9 {
  font-size: 9px!important;
}

._fs_10 {
  font-size: 10px!important;
}

._fs_11 {
  font-size: 11px!important;
}

._fs_12 {
  font-size: 12px!important;
}

._fs_13 {
  font-size: 13px!important;
}

._fs_14 {
  font-size: 14px!important;
}

._fs_15 {
  font-size: 15px!important;
}

._fs_16 {
  font-size: 16px!important;
}

._fs_18 {
  font-size: 18px!important;
}

._fs_20 {
  font-size: 20px!important;
}

._fs_22 {
  font-size: 22px!important;
}

._fs_24 {
  font-size: 24px!important;
}

._fs_26 {
  font-size: 26px!important;
}

._fs_28 {
  font-size: 28px!important;
}

._fs_30 {
  font-size: 30px!important;
}

._fs_32 {
  font-size: 32px!important;
}

._fs_34 {
  font-size: 34px!important;
}

._fs_36 {
  font-size: 36px!important;
}

._fs_38 {
  font-size: 38px!important;
}

._fs_40 {
  font-size: 40px!important;
}

._fs_46 {
  font-size: 46px!important;
}

._fs_50 {
  font-size: 50px!important;
}

._fs_56 {
  font-size: 56px!important;
}

._fs_60 {
  font-size: 60px!important;
}

._fs_66 {
  font-size: 60px!important;
}

._fs_80 {
  font-size: 80px!important;
}

._fs_100 {
  font-size: 100px!important;
}

._fs_120 {
  font-size: 120px!important;
}