._fw_100 {
  font-weight: 100!important;
}

._fw_200 {
  font-weight: 200!important;
}

._fw_300 {
  font-weight: 300!important;
}

._fw_400 {
  font-weight: 400!important;
}

._fw_500 {
  font-weight: 500!important;
}

._fw_600 {
  font-weight: 600!important;
}

._fw_700 {
  font-weight: 700!important;
}

._fw_800 {
  font-weight: 800!important;
}

._fw_900 {
  font-weight: 900!important;
}