._m_0_a {
  margin: 0 auto!important;
}

._ma_0 {
  margin: 0px!important;
}

._mt_0 {
  margin-top: 0px!important;
}

._mt_5 {
  margin-top: 5px!important;
}

._mt_10 {
  margin-top: 10px!important;
}

._mt_15 {
  margin-top: 15px!important;
}

._mt_20 {
  margin-top: 20px!important;
}

._mt_25 {
  margin-top: 25px!important;
}

._mt_30 {
  margin-top: 30px!important;
}

._mt_35 {
  margin-top: 35px!important;
}

._mt_40 {
  margin-top: 40px!important;
}

._mt_50 {
  margin-top: 50px!important;
}

._mb_0 {
  margin-bottom: 0px!important;
}

._mb_5 {
  margin-bottom: 5px!important;
}

._mb_10 {
  margin-bottom: 10px!important;
}

._mb_15 {
  margin-bottom: 15px!important;
}

._mb_20 {
  margin-bottom: 20px!important;
}

._mb_25 {
  margin-bottom: 25px!important;
}

._mb_30 {
  margin-bottom: 30px!important;
}

._mb_35 {
  margin-bottom: 35px!important;
}

._mb_40 {
  margin-bottom: 40px!important;
}

._mb_50 {
  margin-bottom: 50px!important;
}

._ml_a {
  margin-left: auto!important;
}

._ml_0 {
  margin-left: 0px!important;
}

._ml_5 {
  margin-left: 5px!important;
}

._ml_10 {
  margin-left: 10px!important;
}

._ml_15 {
  margin-left: 15px!important;
}

._ml_20 {
  margin-left: 20px!important;
}

._ml_25 {
  margin-left: 25px!important;
}

._ml_30 {
  margin-left: 30px!important;
}

._ml_35 {
  margin-left: 35px!important;
}

._ml_40 {
  margin-left: 40px!important;
}

._ml_50 {
  margin-left: 50px!important;
}

._mr_a {
  margin-right: auto!important;
}

._mr_0 {
  margin-right: 0!important;
}

._mr_5 {
  margin-right: 5px!important;
}

._mr_10 {
  margin-right: 10px!important;
}

._mr_15 {
  margin-right: 15px!important;
}

._mr_20 {
  margin-right: 20px!important;
}

._mr_25 {
  margin-right: 25px!important;
}

._mr_30 {
  margin-right: 30px!important;
}

._mr_35 {
  margin-right: 35px!important;
}

._mr_40 {
  margin-right: 40px!important;
}

._mr_50 {
  margin-right: 50px!important;
}