._pa_0 {
  padding: 0px!important;
}

._pt_0 {
  padding-top: 0px!important;
}

._pt_1 {
  padding-top: 1px!important;
}

._pt_2 {
  padding-top: 2px!important;
}

._pt_3 {
  padding-top: 3px!important;
}

._pt_4 {
  padding-top: 4px!important;
}

._pt_5 {
  padding-top: 5px!important;
}

._pt_6 {
  padding-top: 6px!important;
}

._pt_7 {
  padding-top: 7px!important;
}

._pt_8 {
  padding-top: 8px!important;
}

._pt_9 {
  padding-top: 9px!important;
}

._pt_10 {
  padding-top: 10px!important;
}

._pt_15 {
  padding-top: 15px!important;
}

._pt_20 {
  padding-top: 20px!important;
}

._pt_25 {
  padding-top: 25px!important;
}

._pt_30 {
  padding-top: 30px!important;
}

._pt_35 {
  padding-top: 35px!important;
}

._pt_40 {
  padding-top: 40px!important;
}

._pt_50 {
  padding-top: 50px!important;
}

._pb_0 {
  padding-bottom: 0px!important;
}

._pb_1 {
  padding-bottom: 1px!important;
}

._pb_2 {
  padding-bottom: 2px!important;
}

._pb_3 {
  padding-bottom: 3px!important;
}

._pb_4 {
  padding-bottom: 4px!important;
}

._pb_5 {
  padding-bottom: 5px!important;
}

._pb_6 {
  padding-bottom: 6px!important;
}

._pb_7 {
  padding-bottom: 7px!important;
}

._pb_8 {
  padding-bottom: 8px!important;
}

._pb_9 {
  padding-bottom: 9px!important;
}

._pb_10 {
  padding-bottom: 10px!important;
}

._pb_15 {
  padding-bottom: 15px!important;
}

._pb_20 {
  padding-bottom: 20px!important;
}

._pb_25 {
  padding-bottom: 25px!important;
}

._pb_30 {
  padding-bottom: 30px!important;
}

._pb_35 {
  padding-bottom: 35px!important;
}

._pb_40 {
  padding-bottom: 40px!important;
}

._pb_50 {
  padding-bottom: 50px!important;
}

._pl_0 {
  padding-left: 0px!important;
}

._pl_1 {
  padding-left: 1px!important;
}

._pl_2 {
  padding-left: 2px!important;
}

._pl_3 {
  padding-left: 3px!important;
}

._pl_4 {
  padding-left: 4px!important;
}

._pl_5 {
  padding-left: 5px!important;
}

._pl_10 {
  padding-left: 10px!important;
}

._pl_15 {
  padding-left: 15px!important;
}

._pl_20 {
  padding-left: 20px!important;
}

._pl_25 {
  padding-left: 25px!important;
}

._pl_30 {
  padding-left: 30px!important;
}

._pl_35 {
  padding-left: 35px!important;
}

._pl_40 {
  padding-left: 40px!important;
}

._pl_50 {
  padding-left: 50px!important;
}

._pr_0 {
  padding-right: 0px!important;
}

._pr_1 {
  padding-right: 1px!important;
}

._pr_2 {
  padding-right: 2px!important;
}

._pr_3 {
  padding-right: 3px!important;
}

._pr_4 {
  padding-right: 4px!important;
}

._pr_5 {
  padding-right: 5px!important;
}

._pr_10 {
  padding-right: 10px!important;
}

._pr_15 {
  padding-right: 15px!important;
}

._pr_20 {
  padding-right: 20px!important;
}

._pr_25 {
  padding-right: 25px!important;
}

._pr_30 {
  padding-right: 30px!important;
}

._pr_35 {
  padding-right: 35px!important;
}

._pr_40 {
  padding-right: 40px!important;
}

._pr_50 {
  padding-right: 50px!important;
}