._width_100 {
  width: 100%!important;
}

._width_95 {
  width: 95%!important;
}

._width_90 {
  width: 90%!important;
}

._width_85 {
  width: 85%!important;
}

._width_80 {
  width: 80%!important;
}

._width_75 {
  width: 75%!important;
}

._width_70 {
  width: 70%!important;
}

._width_65 {
  width: 65%!important;
}

._width_60 {
  width: 60%!important;
}

._width_55 {
  width: 55%!important;
}

._width_50 {
  width: 50%!important;
}

._width_45 {
  width: 45%!important;
}

._width_40 {
  width: 40%!important;
}

._width_35 {
  width: 35%!important;
}

._width_30 {
  width: 30%!important;
}

._width_25 {
  width: 25%!important;
}

._width_20 {
  width: 20%!important;
}

._width_15 {
  width: 15%!important;
}

._width_10 {
  width: 10%!important;
}

._width_5 {
  width: 5%!important;
}

._width_33 {
  width: 33.33%!important;
}

._width_66 {
  width: 66.66%!important;
}